.toggle-menu {
  width: 64px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
}

@media screen and (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}

.anticon-down:before {
  padding: 25px;
}
